<mat-card class="m-4-t full-width" id="client-list" style="margin-top: -15px !important;" *ngIf="userService.getLoggedUserUser().canSearch">

  <form [formGroup]="form" (submit)="submitFormIfValid()" >

    <div class="row">

      <div class="col-md-2">
        <mat-form-field style="width: 100% !important;" class="p-12-r p-12-b p-12-l">

          <mat-select placeholder="Kriterij dohvata zaključanih izvještaja" formControlName="searchType">

            <mat-option *ngFor="let type of searchTypes" [value]="type"
                        style="height: 26px; line-height: 1; padding:10px 16px">

                  <span style="color: #333; font-weight:500">
                    {{type.label}}
                  </span>

              <br>

            </mat-option>

          </mat-select>

        </mat-form-field>
      </div>

      <div class="col-md-2">
        <mat-form-field style="width: 100% !important;" class="p-12-r p-12-b p-12-l">

          <input #data matInput ngDefaultControl formControlName="data"
                 placeholder="{{selectedType.label}}" char-counter
                 maxlength="30">

          <mat-error *ngIf="form.controls['data'].errors?.required">

            Polje je obavezno za unos

          </mat-error>


          <mat-error *ngIf="form.controls['data'].errors?.pattern">

            {{selectedType.validatorMessage}}

          </mat-error>

          <mat-hint align="end">

            {{data.value.length}}/{{dataMaxLength}}

          </mat-hint>

        </mat-form-field>
      </div>


      <div class="col-md-3 example-button-row">

        <button mat-raised-button color="primary" [disabled]="!form.valid" >

          Dohvat

        </button>


      </div>

    </div>

  </form>

</mat-card>





