.red-background {
  background-color: #F08080 !important;
}
.white-background {
  background-color: white !important;
}
.yellow-background {
  background-color: yellow !important;
}

table, th, td {
  border: 1px solid black;
  padding: 4px;
}
