<app-spinner  #spinner></app-spinner>

<mat-card>
  <mat-card-content class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="23">
          Naziv
        </th>
        <td mat-cell *matCellDef="let element" [style.width.%]="23">
          {{element.clientName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="uniqueNumber">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="23">
          MB
        </th>
        <td mat-cell *matCellDef="let element" [style.width.%]="23">
          {{element.uniqueNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="uniqueId">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="23" style="text-align: center">
          OIB
        </th>
        <td mat-cell *matCellDef="let element" [style.width.%]="23" class="text-center">
          {{element.uniqueId}}
        </td>
      </ng-container>

      <ng-container matColumnDef="registerNumber">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="23" style="text-align: center">
          Broj registra
        </th>
        <td mat-cell *matCellDef="let element" [style.width.%]="23" class="text-center">
          {{element.registerNumber}}
        </td>
      </ng-container>

      <ng-container matColumnDef="choice">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="8" style="text-align: center">
        </th>
        <td mat-cell *matCellDef="let element" [style.width.%]="8" class="text-center">
          <button mat-raised-button sm (click)="fetchByClient(element)" raised color="primary">
            <mat-icon>play_circle_filled_white</mat-icon>
            Kreiraj
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="oznakaVrstePlasmana">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="14" style="text-align: center">
          Oznaka vrste plasmana
        </th>
        <td mat-cell *matCellDef="let element" [style.width.%]="14" class="text-center">
          {{element.oznakaVrstePlasmana}}
        </td>
      </ng-container>

      <ng-container matColumnDef="poredak">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="10" style="text-align: center">
          Poredak
        </th>
        <td mat-cell *matCellDef="let element" [style.width.%]="10" class="text-center">
          {{element.poredak}}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="9">

        </th>
        <td mat-cell *matCellDef="let element" [style.width.%]="9">
          <div class="example-button-row">
            <table>
              <tbody>
              <tr>
                <td>
                  <button (click)="edit(element)" mat-icon-button color="primary"
                          aria-label="Example icon-button with a heart icon">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button (click)="delete(element)" mat-icon-button color="warn"
                          aria-label="Example icon-button with a heart icon">
                    <mat-icon>delete_outline</mat-icon>
                  </button>

                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>

</mat-card>
